/* main.css */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#containerWrapper {
    width: 100%;
    min-height: 100vh;
    /* Ensure it covers at least the full viewport height */
}

#chatContainer {
    /* width: 100%;*/
}


/* Other styles for #textInput, #submitButton, .node, etc. remain the same */

#centerContainer {
    width: 100%;
    min-height: 100%;
    /* Ensure it takes at least 100% of the parent's height */
    overflow-y: auto;
    /* Scrollbar appears when content overflows */
}

#textInput {
    flex: 1;
    width: 100%;
    min-height: 100px;
    padding: 5px;
    font-size: 14px;
    resize: both;
    box-sizing: border-box;
}

#submitButton {
    padding: 5px 10px;
    font-size: 14px;
}

#selectedFileLabel,
#selectedFileName {
    display: inline-block;
}

#messageBar {
    display: none;
}

.node rect {
    fill: #ffe0b2;
    stroke: #000;
}

.node path {
    fill: #ffe0b2;
    stroke: #000;
}

.node ellipse {
    fill: #ffe0b2;
    stroke: #000;
}

.node text {
    font-family: Arial;
    font-size: 12px;
    text-anchor: middle;
    alignment-baseline: middle;
}

#fileListModal .modal-content {
    background-color: #ffffe0;
}

#fileListSelect {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f8ff;
    color: #000;
    overflow-y: auto;
}

.node.selected ellipse {
    stroke-dasharray: 3 3;
}

.node.selected path {
    stroke-dasharray: 3 3;
}

.node.selected rect {
    stroke-dasharray: 3 3;
}

foreignObject input {
    padding: 0;
    margin: 0;
    border: none;
    font-family: Arial;
    font-size: 12px;
    background-color: transparent;
    outline: none;
}

.dash-relationship {
    fill: none;
    stroke-dasharray: 5, 5;
    /* Dashed line style */
    marker-mid: url(#arrowhead);
    /* Arrowhead on the right side */
}

.dash-relationship:hover {
    fill: none;
    stroke-width: 5px;
    stroke-dasharray: 5, 5;
}

.solid-relationship {}

.solid-relationship:hover {
    stroke-width: 5px;
}

.relationship-toolbox {
    fill: #fff;
    stroke: #666;
    stroke-width: 2px;
    display: none;
}

.relationship-toolbox-text {
    font-size: 12px;
    text-anchor: middle;
    pointer-events: none;
}

.relationship-toolbox-content {
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.relationship-toolbox-content span {
    cursor: pointer;
}

.relationship-toolbox-icons {
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.relationship-toolbox-rect {
    fill: lightyellow;
    stroke: #666;
    stroke-width: 1px;
}

.box-toolbox {
    fill: #fff;
    stroke: #666;
    stroke-width: 2px;
    display: none;
}

.box-toolbox-text {
    font-size: 12px;
    text-anchor: middle;
    pointer-events: none;
}

.box-toolbox-content {
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.box-toolbox-content span {
    cursor: pointer;
}

.box-toolbox-icons {
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-toolbox-rect {
    fill: lightyellow;
    stroke: #666;
}

.box-shapebox {
    fill: #fff;
    stroke: #666;
    stroke-width: 2px;
    display: none;
}

.box-shapebox-text {
    font-size: 12px;
    text-anchor: middle;
    pointer-events: none;
}

.box-shapebox-content {
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.box-shapebox-content span {
    cursor: pointer;
}

.box-shapebox-rect {
    fill: lightyellow;
    stroke: #666;
}

.box-iconbox {
    fill: #fff;
    stroke: #666;
    stroke-width: 2px;
    display: none;
}

.box-iconbox-text {
    font-size: 12px;
    text-anchor: middle;
    pointer-events: none;
}

.box-iconbox-content {
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.box-iconbox-content span {
    cursor: pointer;
}

.box-iconbox-rect {
    fill: lightyellow;
    stroke: #666;
}

.color-palette {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

.color-palette-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

#selectedColorCode {
    margin-top: 10px;
}

.pointer-cursor {
    cursor: pointer;
}

.drop-area {
    width: 100%;
    /* Set to 100% to cover the entire modal width */
    height: 200px;
    /* Adjust the height as needed */
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-area.drag-over {
    background-color: #f0f0f0;
}


/* Add new CSS styles for the attribute container */

#attributeContainer {
    width: 300px;
    /* Adjust the width as needed */
    height: 100%;
    position: absolute;
    top: 150px;
    /* Adjust the top position to start below the chatContainer */
    right: 0;
    /* Position it on the right side */
    background-color: #f8f9fa;
    /* Add a background color */
    border-left: 1px solid #d1d1d1;
    /* Add a border for separation */
    padding: 10px;
    display: none;
    /* Initially hidden */
}

#attributeContainer h4 {
    margin-bottom: 10px;
}

#attributeContainer ul {
    list-style-type: none;
    padding: 0;
}

#attributeContainer li {
    margin-bottom: 5px;
}

#containerWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}


/* Add this CSS to your stylesheet */

.highlighted {
    opacity: 1;
    /* Normal opacity */
    /* You can adjust other styles as needed */
}

.dimmed {
    opacity: 0.2;
    /* Dimmed opacity */
    /* You can adjust other styles as needed */
}


/* Adjust the width of the dropdown menu */

.dropdown-menu {
    width: 200px;
    /* You can adjust the width as needed */
}


/* Style for the "Register User" option */

.dropdown-menu #registeruser {
    font-weight: bold;
    color: #007bff;
    /* Change the color as needed */
}


/* CSS for the pointer class for collab pointers followed by the span text */

.custom-cursor {
    position: absolute;
    width: 16px;
    height: 16px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 9999;
}

.custom-cursor span {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
}

#drawingContainer {
    width: 100%;
    /* Full width */
    min-height: 100vh;
    /* Minimum height to at least cover the viewport */
    overflow-y: auto;
    /* Enables vertical scrolling when necessary */
}

#mindMapContainer {
    /* position: relative;*/
    width: 100%;
    border: 2px solid red;
    /* Change 'black' to any color you prefer */
}

.flex-row-control_containers {
    display: flex;
    justify-content: space-between;
    /* Adjusts space between children */
    align-items: center;
    /* Aligns children vertically in the middle */
}

#btnContainer,
#filterContainer,
#settingsContainer {
    flex: 1;
    /* Each child will take up equal space */
}

#fileList li.selected {
    background-color: #007bff;
    /* Example: Blue background for selected items */
    color: white;
    cursor: pointer;
}

#fileList li {
    padding: 5px;
    cursor: pointer;
}

#fileList li:hover {
    background-color: #f0f0f0;
    /* Light grey background on hover */
}